		#about {padding-top:77px;min-height:600px;}
		#produk {padding-top:77px;min-height:600px;}
		#distributor {padding-top:77px;min-height:600px;;}
		#contact {padding-top:77px;min-height:600px;}
		#natural {padding-top:77px;min-height:600px;}
		#butyl {padding-top:77px;min-height:600px;}
		#flap {padding-top:77px;min-height:600px;}
		
		.callbutton {
			background-color:#000;
			border-radius: 20px;
			box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
			border: none;
			color: white;
			padding: 5px 5px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 50px;
			margin: 2px 2px;
			cursor: pointer;
			-webkit-transition: width 1s, height 1s; /* For Safari 3.1 to 6.0 */
			transition: width 1s, height 1s;
			}
		.callbutton:hover {
			color:yellow;
			background-color:#4d9900;
			padding-right: 25px;
			}

  .imgt {
    -webkit-transition: width 1s, height 1s; /* For Safari 3.1 to 6.0 */
    transition: width 1s, height 1s;
	}

	.imgt:hover {
		height: 100px;
		}
	.muter {
		-webkit-transition: width 1s, height 1s, -webkit-transform 0.5s; /* Safari */
		transition: width 1s, height 1s, transform 0.5s;
		}

	.muter:hover {
		width: 38px;
		height: 38px;
		-webkit-transform: rotate(360deg); /* Safari */
		transform: rotate(360deg);}
	.gedeinm {
		-webkit-transition: width 1s, height 1s, -webkit-transform 0.5s; /* Safari */
		transition: width 1s, height 1s, transform 0.5s;
		}

	.gedeinm:hover {
		height: 55px;
		}
	
	.mutersmall {
		-webkit-transition: width 1s, height 1s, -webkit-transform 0.5s; /* Safari */
		transition: width 1s, height 1s, transform 0.5s;
		}

	.mutersmall:hover {
		height: 25px;
		-webkit-transform: rotate(360deg); /* Safari */
		transform: rotate(360deg);}
		
	.muterdoang {
		-webkit-transition: width 1s, height 1s, -webkit-transform 2.5s; /* Safari */
		transition: width 1s, height 1s, transform 2.5s;
		}

	.muterdoang:hover {
		height:100px;
		padding-left:30px;
		-webkit-transform: rotate(-3deg); /* Safari */
		transform: rotate(-3deg);}
		
	.gedeins{
		-webkit-transition: width 0.5s, height 0.5s, -webkit-transform 0.5s; /* Safari */
		transition: width 0.5s, height 0.5s, transform 0.5s;
		}
	.gedeins:hover {
		height:25px;
	}
	
	/*--Team--*/
.class-grid-img{
	position:relative;
}
.class-grid {
    width: 24%;
    margin-right: 1%;
	text-align:center;
	position:relative;
}
.class-grid.lost {
    margin-right: 0;
}
.class-grid img {
    width: 100%;
}

/* Sweep To Top */
.hvr-sweep-to-top {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-top:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.68);
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  z-index:99;
}
.hvr-sweep-to-top:hover, .hvr-sweep-to-top:focus, .hvr-sweep-to-top:active {
  color: white;
}
.hvr-sweep-to-top:hover:before, .hvr-sweep-to-top:focus:before, .hvr-sweep-to-top:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}
.caption{
  display:none;	
}
.class-grid-img:hover .caption {
    display: block;
    position: absolute;
    top: 49%;
    left: 23%;
    z-index: 999;
}
.caption h5{
	font-size:2em;
	color:#fff;
	letter-spacing:2px;
}
.class-grid h4 {
    font-size: 1.4em;
    margin: 1em 0 .3em;
    color: #111;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.class-grid p {
	font-size: 16px;
}